Applications
.CFUserTextEncoding
.DS_Store
.Trash/
.ansible/
.anyconnect
.cache/
.cisco/
.composer/
.config/
.cups/
.docker/
.eclipse/
.equo/
.fonts/
.gem/
.gitconfig
.gitignore_global
.gnupg/
.lesshst
.local/
.m2/
.nanorc
.node_repl_history
.npm/
.oh-my-zsh/
.openjfx/
.p10k.zsh
.sdb/
.soapuios/
.ssh/
.ssh_servers
.subversion/
.symfony/
.task/
.taskrc
.viminfo
.vscode/
.wget-hsts
.wpscan/
.yarnrc
.zcompdump-KKr MacBook Pro-5.8
.zcompdump-Krohn MacBookPro 2018-5.8
.zcompdump-KrohnMacPro2018-5.8
.zcompdump-MacBook Work-5.8
.zcompdump-MacBook Work-5.8.1
.zcompdump-MacBook Work-5.9
.zcompdump-MacBook W\303\266rk-5.8.1
.zcompdump-MacBook W\303\266rk-5.8.1.zwc
.zcompdump-MacBook W\303\266rk-5.9
.zcompdump-MacBook W\303\266rk-5.9.zwc
.zcompdump-MacBook-BITSERV-Karsten-5.8
.zsh_history
.zsh_sessions
.zshrc
.zshrc.bak
AnypointStudio
Applications
Creative Cloud Files
Desktop
Documents
Downloads
Library
Movies
Music
OneDrive - Biesterfeld AG
Pictures
Projects
SoapUI-Tutorials
apache-maven-3.5.4
default-soapui-workspace.xml
go
o-rdoc
powerlevel10k
royaltsx.backup
royaltsx.rtsz
soapui-settings.xml
ssh.lst
xml
Public
